/* This is for Main Landing Page */
.Landing-Page{
    background-color: antiquewhite;
    height: 3484px;
    margin-left: 20%;
    margin-right: 20%;
    resize: horizontal;
    resize: vertical;
    position: relative;
}



/* This is for Navbar */
.navbar{

    height: 124px;
    background-color: #2D3748;
    resize: horizontal;
    resize: vertical;
}
ul{
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    padding: 10px;
}
li{
    display: inline;
    resize: inherit;
}
button{
    vertical-align: middle;
    align-content: center;
    width: 171px;
    height: 50px;
    resize: inherit;
    border-radius: 20px
}


/* This is for Banner */

.banner{
}

#image-banner{
    width: 100%;
    position: absolute;
}

/* Media Screen*/
@media screen and (max-width: 900px) {
  .Landing-Page{   
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

